* {
  padding: 0;
  margin: 0;
}

.main-div {
  height: 1000px;
  width: 100%;
  display: flex;
}

.left-column {
  height: 100%;
  width: 100%;
  background: grey;
  flex-basis: 70%;
}

.right-column {
  height: 100%;
  width: 100%;
  background: white;
  flex-basis: 30%;
}

p {
  padding: 0;
  margin: 0;
  left: 131px;
  top: 295px;
  position: absolute;
  font-size: 60px;
}

.calculator--keys {
  display: grid;
  padding: 10px;
  color: crimson;
  margin: 7px;
}

/* .btn {
}
.addition {
  padding: 0;
  margin: 0;
  top: 300px;
  position: relative;
  left: 100px;
}
#input {
  padding: 0;
  margin: 0;
  left: 90px;
  position: relative;
  top: 284px;
  padding-top: 10px;
  border: 3px solid red;
  padding-right: 10px;
}

#result {
  color: crimson;
  font-size: 80px;
} */
